div
{
  color: white;
  padding-top: 4px;
  height: 32px;
  text-shadow: 1px 1px 1px black !important;
}

tabpanels
{
    -moz-appearance: none;
    padding: 0 !important;
    border: none !important;
}
#timeline{background: -moz-default-background-color}
tabs{background-color: Menu !important;}
tab
{
  background: -moz-linear-gradient(rgba(255, 255, 255, .2),  Menu);
  border: 0;
  padding: 0;
  position: relative;
  -moz-appearance: none;
  margin-top: 2px;
  border: 3px solid black;
  -moz-border-right-colors: rgba(0, 0, 0, .3) rgba(255, 255, 255, .3) rgba(255, 255, 255, .1);
  -moz-border-top-colors:  rgba(0, 0, 0, .3)  rgba(255, 255, 255, .3) rgba(255, 255, 255, .1);
  -moz-border-left-colors:  rgba(0, 0, 0, .3) rgba(255, 255, 255, .3) rgba(255, 255, 255, .1);
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;

  margin-left: 1px;
  border-bottom: none;
  padding: 3px 4px;
  color: MenuText;
}
tab[selected="true"]{background: -moz-Dialog; color: -moz-DialogText;   padding-bottom: 0 !important;}
tab label{margin-left: 3px; display: none;}
tab image{opacity: .8}
tab:hover image{opacity: 1}
tab[selected="true"] image{opacity: 1}

.word-counter
{
  -moz-appearance: none;
  position: absolute;
  padding-right:17px;
  bottom: 0;
  right: 0;
}

#text-enter textbox
{
  -moz-appearance: none;
  background: rgba(255, 255, 255, .5);
  border: 1px solid;
  border-radius: 4px;
  margin: 0;
  height: 4em;
  z-index:2;
  overflow:hidden;
  width:80%;
}
