html
{
  margin: 5px;
  margin-top: 22px;
}

body
{
  margin: 0; padding: 0;
  color: -moz-DialogText;
  text-shadow: 0 1px 0 white;
  font: 12px Arial,Sans-serif;
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background: #666 url('images/pardal.png') center center fixed no-repeat;
}

.tweet
{
  clear: both;
  opacity: .9;
  background: -moz-linear-gradient(#F5F5F5, #DDD);
  border-bottom: 1px solid #AAA;
  padding: 3px;
}

.tweet:hover
{
  opacity: 1;
}

.tweet p
{
  margin: 0;
}

.tweet .screen_name
{
  color: #BBB;
  margin-bottom: 2px;
}

.tweet.stoped
{
  background: #DDD;
  opacity: 1;
}

.tweet img
{
  float: left;
  margin-right: 3px;
}

.tweet hr
{
  clear: both;
  border: none;
}

#trends
{
  position: fixed;
  top: 0;
  left: 0;
  height: 1em;
  width: 100%;
  padding: .5em;
  color: -moz-dialogtext;
  background: -moz-dialog;
  text-shadow: 0 1px 0 white; 
  -moz-box-shadow: 0 0px 10px black;
  cursor: default;
  overflow: hidden;
}

#trends a:hover
{
  -moz-appearance: button;
}
